@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes heart {
  0% {
    color: #f779f5;
  }
  33% {
    color: #db6af2;
  }
  66% {
    color: #9963db;
  }
  100% {
    color: #af72fa;
  }
}
@keyframes refresh {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
h1, h4 {
  font-family: "Shrikhand", sans-serif;
  letter-spacing: 1px;
}

body, html {
  font-family: "Roboto", sans-serif;
}

.btn, .btn__order button, .btn__about button {
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(175deg, #f779f5, #ef69ed, #db6af2, #a96bf4, #a262f1);
  box-shadow: 5px 5px 5px #BFBFBF;
  cursor: pointer;
}
.btn:hover, .btn__order button:hover, .btn__about button:hover {
  transform: scale(1.2);
}

.btn__order button {
  font-size: 17px;
  width: 70%;
  margin: 30px 0 0 15%;
}

.loader {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  animation: loader 1s linear 2s forwards;
}
.loader .spinner {
  position: absolute;
  height: 120px;
  width: 120px;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  top: 45%;
  left: 50%;
  margin: -40px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.loader .spinner:before, .loader .spinner:after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}
.loader .spinner:before {
  border-top-color: #9356DC;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  animation: spin 2s linear infinite;
}
.loader .spinner:after {
  border-top-color: #FF79DA;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  animation: spin 3s linear infinite;
}

.main__header h1 {
  text-align: center;
}

.maps {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  height: 55px;
}
.maps__icone {
  margin-right: 0;
}
.maps__search input {
  background-color: #dddddd;
  border: none;
  text-align: center;
}

.about {
  text-align: center;
  background-color: #F2F2F2;
  padding: 25px;
  margin-bottom: 30px;
}
.about h2 {
  font-weight: bold;
}

.fonctionnement {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 45px;
}
.fonctionnement h2 {
  text-align: center;
  margin-bottom: 30px;
}
.fonctionnement ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fonctionnement__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin: 0px 20px 20px 0;
  border-radius: 35px;
  box-shadow: 0px 0 10px #dddddd;
  background-color: #F2F2F2;
  width: 40vh;
}
.fonctionnement__list li:hover {
  background-color: #f2eafb;
  transform: scale(1.2);
}
.fonctionnement__list--number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  left: 10px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: relative;
  margin: 0 0 0 -25px;
}
.fonctionnement__list--icone {
  width: 20px;
  left: 20px;
  margin-right: 35px;
  position: relative;
}

.restaurant {
  background-color: #F2F2F2;
  box-sizing: border-box;
  width: 100%;
}
.restaurant h2 {
  padding: 25px;
  margin: 0;
}
.restaurant__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 45px;
  margin-bottom: -20px;
}
.restaurant__carte {
  height: 50vh;
  width: auto;
  background: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0px 0 10px #BFBFBF;
}
.restaurant__carte:hover {
  box-shadow: 0px 0 10px #404040;
}
.restaurant__carte img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.restaurant__about {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant__about p {
  margin: -15px 0 0 20px;
}
.restaurant__about h3 {
  margin: 5px 0 0 20px;
}
.restaurant__about h3 i {
  background-image: url(../images/icon/heart-regular.svg);
  background-repeat: no-repeat;
  width: 36px;
  height: 55px;
  padding: 5px;
  position: relative;
  top: 18px;
  float: right;
  margin-right: 15px;
  color: #fff;
}
.restaurant__about h3 i:hover {
  animation: heart 0.3s ease-in both;
  background-image: url(/./images/icon/heart-solid1.svg);
  transform: scale(1.4);
}
.restaurant .fa-heart {
  cursor: pointer;
  font-size: 25px;
  position: relative;
}
.restaurant .fa-heart:hover {
  animation: heart 0.5s ease-in both;
}
.restaurant__new {
  background-color: #99E2D0;
  text-align: center;
  position: relative;
  float: right;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: #278870;
  margin: -285px 15px 0 0;
}

.fa-arrow-left {
  position: absolute;
  top: 40px;
  left: 20px;
}

.page img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu {
  background-color: #F2F2F2;
  border-radius: 35px 35px 0 0;
  width: auto;
  position: relative;
  margin-top: -40px;
  padding: 20px 5px 30px 5px;
}
.menu h2 {
  font-family: "Shrikhand";
  letter-spacing: 1px;
  font-weight: normal;
}
.menu i {
  background-image: url(../images/icon/heart-regular.svg);
  background-repeat: no-repeat;
  width: 36px;
  height: 55px;
  padding: 5px;
  position: relative;
  top: 18px;
  float: right;
  margin-right: 15px;
  color: #fff;
  top: -5px;
  float: right;
  margin-right: 5vw;
}
.menu i:hover {
  animation: heart 0.3s ease-in both;
  background-image: url(/./images/icon/heart-solid1.svg);
  transform: scale(1.4);
}
.menu i:hover {
  animation: heart 0.5s ease-in both;
}
.menu__title {
  margin-top: 40px;
  font-weight: lighter;
  border-bottom: #99E2D0 3px solid;
  width: 48px;
  padding-bottom: 8px;
}
.menu__name__list {
  padding-left: 0;
  animation: refresh 1s ease-out 0.5s both, opacity 1.5s ease-in-out 1s both;
}
.menu__name__list li {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: auto;
  background: #fff;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #BFBFBF;
  margin-bottom: 10px;
  transition: padding-right 400ms ease-in-out;
}
.menu__name__list li h3 {
  margin: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__name__list li p {
  margin: 5px;
}
.menu__name__list li:hover {
  padding-right: 70px;
}
.menu__name__list li .description {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 35px;
  cursor: pointer;
  margin: 0;
}
.menu__name__list li .description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__name__list li .description .price {
  margin-right: 10px;
}
.menu__name__list li .check {
  display: flex;
  background-color: #99E2D0;
  margin: -5px 66px 0 0;
  width: 66px;
  height: 80px;
  border-radius: 0 25px 25px 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -66px;
  visibility: hidden;
  transition: transform 420ms ease-in-out;
  cursor: pointer;
}
.menu__name__list li .check .fa-check-circle {
  color: #fff;
  font-size: 30px;
  margin: 0;
}
.menu__name__list li .check i:hover {
  animation: unset;
  background-image: none;
}
.menu__name__list li:hover .check {
  visibility: visible;
  animation: progress-bar 500ms both;
  transform-origin: right;
}
.menu__name__list li:hover .check i {
  animation: spin 400ms;
  background-image: none;
  transform: none;
  top: 8px;
}

footer {
  background-color: #353535;
  color: #fff;
  height: auto;
}

h4 {
  padding: 10px;
  margin-left: 25px;
  margin-top: 0;
  color: #fff;
  font-size: 1.5rem;
}

ul {
  margin: 0;
}
ul li {
  padding: 5px;
}
ul a {
  color: #fff;
  margin: 0;
}

.fa-utensils {
  margin-right: 14px;
}

.fa-hands-helping {
  margin-right: 7px;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  margin: 2% auto;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 668px) and (max-width: 768px) {
  .fonctionnement ul {
    flex-direction: row;
  }

  .restaurant__carte {
    height: 35vh;
  }
  .restaurant__about {
    font-size: 1rem;
  }
  .restaurant__about p {
    margin-left: 30px;
    margin-top: -20px;
  }
  .restaurant__about h3 {
    margin-left: 30px;
  }
  .restaurant__about h3 i {
    top: 10px;
    margin-right: 45px;
  }
  .restaurant__new {
    margin: -300px 35px 0 0;
  }

  .page img {
    height: 350px;
    object-position: bottom;
  }

  .menu h2 {
    margin-left: 20px;
  }
  .menu i {
    margin-right: 8vw;
  }
  .menu__title {
    margin-left: 20px;
  }
  .menu__name__list {
    margin: 0 20px 0 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .fonctionnement ul {
    flex-direction: row;
  }

  .restaurant__carte {
    height: 35vh;
  }
  .restaurant__cart img {
    height: 80%;
  }
  .restaurant__about p {
    margin-left: 30px;
    margin-top: -15px;
  }
  .restaurant__about h3 {
    margin-left: 30px;
  }
  .restaurant__about h3 i {
    top: 15px;
    margin-right: 65px;
  }
  .restaurant__new {
    padding: 8px;
    width: 150px;
    margin: -340px 35px 0 0;
    letter-spacing: 1px;
  }

  .page img {
    height: 450px;
    object-position: bottom;
  }

  .menu {
    margin-bottom: -2%;
  }
  .menu h2 {
    margin-left: 20px;
  }
  .menu i {
    margin-right: 8vw;
  }
  .menu__title {
    margin-left: 20px;
  }
  .menu__name__list {
    margin: 0 20px 0 20px;
  }
  .menu__name__list li h3 {
    margin: 5px 0 5px 10px;
  }
  .menu__name__list li p {
    margin: 5px 0 5px 10px;
  }
}
@media (min-width: 1025px) and (max-width: 3000px) {
  .fonctionnement ul {
    flex-direction: row;
  }

  .restaurant__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .restaurant__about p {
    margin: 0 0 5px 30px;
  }
  .restaurant__about h3 {
    margin: 5px 0 0 30px;
  }
  .restaurant__about h3 i {
    top: 25px;
    margin-right: 65px;
  }
  .restaurant__new {
    margin: -425px 35px 0 0;
    width: 150px;
    letter-spacing: 1px;
  }

  .page img {
    height: 450px;
  }

  .menu {
    width: 60%;
    margin: -2% 20% -2% 20%;
  }
  .menu h2 {
    margin: 25px 0 20px 20px;
  }
  .menu i {
    margin-right: 4vw;
  }
  .menu__title {
    margin-left: 20px;
  }
  .menu__name__list {
    margin: 0;
  }
  .menu__name__list li {
    margin: 0 20px 10px 20px;
  }
  .menu__name__list li h3 {
    margin: 5px 0 5px 10px;
  }
  .menu__name__list li p {
    margin: 5px 0 5px 10px;
  }
  .menu :hover .check {
    margin: -5px 86px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
