h1, h4 {
  font-family: "Shrikhand", sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.main__header h1 {
  text-align: center;
}

.maps {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  height: 55px;
}
.maps__icone {
  margin-right: 0;
}
.maps__search input {
  background-color: #dddddd;
  border: none;
  text-align: center;
}

.about {
  text-align: center;
  background-color: #F2F2F2;
  padding: 25px;
  margin-bottom: 30px;
}
.about h2 {
  font-weight: bold;
}

.btn__about button {
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #FF79DA;
  box-shadow: 5px 5px 5px #BFBFBF;
  cursor: pointer;
}

.fonctionnement {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 25px;
}
.fonctionnement h2 {
  padding: 15px;
  margin: 0;
}
.fonctionnement__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin: 0px 20px 20px 0;
  border-radius: 35px;
  box-shadow: 2px 2px 5px 2px #dddddd;
  background-color: #F2F2F2;
  width: 40vh;
}
.fonctionnement__list li:hover {
  background-color: #FF79DA;
}
.fonctionnement__list--number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  left: 10px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: relative;
  margin: 0 0 0 -25px;
}
.fonctionnement__list--icone {
  width: 20px;
  left: 20px;
  margin-right: 35px;
  position: relative;
}

.restaurant {
  background-color: #F2F2F2;
  box-sizing: border-box;
  width: 100%;
}
.restaurant h2 {
  padding: 25px;
  margin: 0;
}
.restaurant__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}
.restaurant__carte {
  height: 45vh;
  width: auto;
  background: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0 20px #dddddd;
  margin: 10px;
  overflow: hidden;
}
.restaurant__carte img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.restaurant__about {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant__about p {
  padding: 0;
  margin: 10px;
}
.restaurant__about h3 {
  padding: 0;
  margin: 0 10px 10px 10px;
}
.restaurant__about h3.h3 i {
  margin-left: 195px;
}
.restaurant__about h3 i {
  margin-left: 170px;
  position: relative;
  top: 15px;
}

footer {
  background-color: #353535;
  color: #fff;
  height: auto;
}

h4 {
  padding: 20px;
  margin-left: 25px;
  margin-top: 0;
  color: #fff;
}

ul {
  margin: 0;
}
ul li {
  padding: 5px;
}
ul a {
  color: #fff;
  margin: 0;
}

.fa-utensils {
  margin-right: 14px;
}

.fa-hands-helping {
  margin-right: 7px;
}

/*# sourceMappingURL=style.css.map */
