// import variables, function, mixins, animations
@import "./Utils/variables", "./Utils/keyframes";


// import style : police
@import "./Base/police";

// import buttons
@import "./Components/_buttons";

//import footer
@import "./Layouts/header", "./Layouts/footer";



body {
    background-color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
}

* {    
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: $color-black;
    text-decoration: none;
}

 .container {
     margin:2% auto;
     box-sizing: border-box;
     width: 100%;
 }

////// Maps /////
.maps {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-medium;
    height: 55px;

    &__icone {
        margin-right: 0;
    }

    &__search input {
        background-color: $color-grey-medium;
        border: none;
        text-align: center;
    }
}

//////Info Reservation ///////
.about {
   text-align: center;
   background-color: $color-grey-light;
   padding: 25px;
   margin-bottom: 30px;

   & h2 {
       font-weight: bold;
   }
}

// .btn__about button {
//     border-radius: 25px;
//     border: 2px solid transparent;
//     padding: 15px;
//     font-weight: bold;
//     color: $color-white;
//     background: linear-gradient(20deg, #f779f5, #ef69ed, #db6af2, #a96bf4, #a262f1);
//     box-shadow: 5px 5px 5px $color-grey-shadow;
//     cursor: pointer;

//     &:hover {
//         transform: scale(1.2);
//     }
// }

////Foncionnement //////
.fonctionnement {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 25px;
   

    & h2 {
        text-align: center;
        padding: 15px;
        margin-bottom: 10px;
    }
   
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     }

  
    &__list li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        margin: 0px 20px 20px 0;
        border-radius: 35px;
        box-shadow: 0px 0 10px $color-grey-medium;  
        background-color: $color-grey-light;
        width: 40vh;
        // cursor: pointer;

        &:hover {
            background-color: lighten($color-primaire, 35%) ;
            transform: scale(1.2);
            
        }

    }
    &__list--number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            left: 10px;
            background-color: $color-primaire;
            color: $color-white;
            border-radius: 50%;
            position: relative;
            margin: 0 0 0 -25px;
        }

     &__list--icone {
        width: 20px;
        left: 20px;
        margin-right: 35px;
        position: relative;
      }
}   

///////Restooo////////
.restaurant {
    background-color: $color-grey-light;
    box-sizing: border-box;
    width: 100%;
    
    & h2 {
        padding: 25px;
        margin: 0;
    }

    &__box {
        display: flex ;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
    }
  
    &__carte {
        height: 50vh;
        width: auto;
        background: $color-white;
        border-radius: 20px;
        box-sizing: border-box; 
        margin: 10px;
        overflow: hidden;

        &:hover {
            box-shadow: 0px 0 10px $color-grey-dark; 
        }
    }

    &__carte img {
        width:100%;
        height: 75%;
        object-fit: cover;
    }

    &__about {
        display: flex;
        font-size: 1.2rem; 
        flex-direction: column;
        justify-content: space-between;

    
        & p {
            margin: 0 0 0 20px;
        }
    
        & h3 {
            margin: 0 0 0 20px;
        
            & i {
                margin-left: 80%;
                position: relative;
                top: 15px;
            }
    
           &.h3 i {
                margin-left: 83%;
            }
        }

        .fa-heart {
                cursor: pointer;
                font-size: 2rem;

                &:hover {
                    animation: heart  0.5s ease-in;
                    animation-fill-mode: both;
                }
    
        }
     
    }
   
}

///////Page1 La Palette  Du Gout //////////

.fa-arrow-left{
    position: absolute;
    top: 40px;
    left: 20px;
}

.page1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu {
    background-color: $color-grey-light;
    border-radius: 35px 35px 0 0;
    width: auto;
    position: relative;
    // display: flex;
    margin-top: -40px;
    padding: 20px 5px 30px 5px;

    & h2 {
        font-family: 'Shrikhand';
    }
    & i {
        margin-left: 20vw;
       
        &:hover {
            animation: heart  0.5s ease-in;
            animation-fill-mode: both;
        }
    }
    &__title {
        margin-top: 40px;
        font-weight: 100;
        border-bottom: $color-tertiaire 3px solid;
        width: 48px ;
        padding-bottom: 8px;
        
    }

    &__name__list  {
      padding-left: 0;

      & li {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        background: $color-white;
        border-radius: 25px;
        // box-sizing: border-box;
        margin-bottom: 10px; 
        
        & h3 {
            margin: 5px;
        }
        & p {
            margin: 5px
        }
        .description {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
            flex-wrap: nowrap;
            height: auto;
          

        & .price {
          margin-right: 20px
         
        }
    }

    
      }
    }
  
}



//////////////      MOBILE            ///////////
//////////////////////////////////////////////////////////////

@media only screen and (max-width: 667px) {

    .about {
        margin-bottom: 45px;
       
    }
    
    .fonctionnement {
    
        & h2 {
        text-align: center;
        }
    
        & ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    
        &__list li { 
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            padding: 5px;
            margin: 0px 20px 20px 0;
            border-radius: 35px;
            box-shadow: 2px 2px 5px 2px $color-grey-medium;
            background-color: $color-grey-light;
            width: 40vh;
        }
    }
    
    .restaurant__about {
        font-size: 0.9rem;
    
        & p {
        margin-left: 20px;
        }
    
        & h3 {
        margin: 0 10px 10px 20px;
    
            &.h3 i {
             margin-left: 150px;
            }
    
            & i {
            margin-left: 110px;
            }
        }
   
    
    }
}
 
    
//////////////////////////////TABLET ////////////////////////////////////
//////////////////////////////////////////////////////////////////
 /* Tablet (Tablet, ordinateur max 1024) */


// @media (min-width: 667px) and (max-width: 767px) { 

//     .fonctionnement li{
 
//         margin-left: 90px;
//         width: 100vh;
  
//     }

//     .restaurant__about {

//         & p {
//             margin-left: 20px;
//             margin-top: -5px;
//         }

//         & h3 {
//             margin-left: 20px;
//             margin-top: 0;

//             & i {
//                 margin-left: 600px;
//                 top: 0;

//             }

//              &.h3 i {
//                  margin-left: 620px;
       
//             }


//     }

//       }

// }


// //////////////////////////////////////////////////////////
// ////////////////////////////////////////////////////////////
// @media  (min-width: 768px) and (max-width: 1024px) {
    
//     .fonctionnement {

//         & ul{
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//          }

//         & li {
//             justify-content: stretch;
//                }

//     }


//     .restaurant__about {

//         display: flex;
//         font-size: 1.2rem;
       

//         & p {
//             margin-left: 20px;
//             margin-top: -20px;
//         }

//         & h3 {
//             margin-left: 20px;
//             margin-top: 20px;

//             & i {
//                 margin-left: 600px;
//                 top: -15px;

//             }

//              &.h3 i {
//                  margin-left: 600px;
       
//             }
//         }

//       }
//     }
//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////


// @media (min-width: 1025px) and (max-width: 1600px) {

//     .fonctionnement {

//         & ul{
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//          }

//         & li {
//             justify-content: stretch;
//                }

//     }
    

//     .restaurant__about {
//         display: flex;
//         font-size: 1.2rem;

//         & p {
//             margin-left: 40px;
//         }

//         & h3 {
//             margin-left: 40px;
        

//        & i {
//            margin-left: 920px;
//            top:25px;

//        }

//        &.h3 i {
//         margin-left: 970px;
       
//     }


//     }

//       }
// }