// import variables, function, mixins, animations
@import "./Utils/variables", "./Utils/keyframes", "./Utils/mixins";

// import style : police
@import "./Base/police";

// import buttons
@import "./Components/_buttons";

//import footer
@import "./Layouts/loader", "./Layouts/header", "./Layouts/maps", "./Layouts/info", "./Layouts/restaurant", "./Layouts/menus", "./Layouts/footer";



body {
    background-color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
}

* {    
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: $color-black;
    text-decoration: none;
}

 .container {
     margin:2% auto;
     box-sizing: border-box;
     width: 100%;
 }



    
                            ////////////////   TABLET max 768px   ///////////////
                            /////////////////////////////////////////////////////


 @media (min-width: 668px) and (max-width: 768px) { 
    
    .fonctionnement {

            & ul{
                flex-direction: row;
            }
    }

    .restaurant {
        &__carte {
            height: 35vh;
        }

        &__about {
            font-size: 1rem;

            & p {
                margin-left: 30px;
                margin-top: -20px; 
            }

            & h3 {
                margin-left: 30px;

                & i {
                    top: 10px;
                    margin-right: 45px;   
                }
            }
        } 
        
        &__new {
            margin: -300px 35px 0 0;
        }
    }

    .page img {
        height: 350px;
        object-position: bottom;
    }

    .menu {
        & h2 {
            margin-left: 20px;
        }

        & i {
            margin-right: 8vw;
        }

        &__title {
            margin-left: 20px;
        }

        &__name__list {
            margin : 0 20px 0 20px;
        }
    } 
}
                                ////////// Tablet (Tablet, ordinateur max 1024px) /////////
                                /////////////////////////////////////////////////////////


 @media (min-width: 769px) and (max-width: 1024px) {
    .fonctionnement {

        & ul{
            flex-direction: row;
        }
    }

    .restaurant {
        &__carte {
            height: 35vh;
        }

        &__cart img {
            height: 80%;
        }

        &__about {
            & p {
                margin-left: 30px;
                margin-top: -15px; 
            }

            & h3 {
                margin-left: 30px;

                & i {
                    top: 15px;
                    margin-right: 65px;   
                }
            }
        } 

        &__new {
            padding: 8px;
            width: 150px;
            margin: -340px 35px 0 0;
            letter-spacing: 1px;
        }
    }

    .page img {
        height: 450px;
        object-position: bottom;
    }

    .menu {
        margin-bottom: -2%;

        & h2 {
            margin-left: 20px;
        }

        & i {
            margin-right: 8vw;
        }

        &__title {
            margin-left: 20px;
        }

        &__name__list {
            margin : 0 20px 0 20px;

            & li h3 {
                margin: 5px 0 5px 10px;
            }

            & li p {
                margin: 5px 0 5px 10px;
            }
        }
    } 
}

                            ////////// Grand ecran (min 1025px, max 3000px) /////////
                            /////////////////////////////////////////////////////////


@media (min-width: 1025px) and (max-width: 3000px) {
    .fonctionnement {

        & ul{
            flex-direction: row;
        }
    }

   .restaurant {
        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        &__about {
             & p {
                margin:0 0 5px 30px;
             }

            & h3 {
                margin:5px 0 0 30px;

                & i {
                    top: 25px;
                    margin-right: 65px;   
                }
             }
        } 

        &__new {
            margin: -425px 35px 0 0;
            width: 150px;
            letter-spacing: 1px;
        }
    }

    .page img {
        height: 450px;
    }

    .menu {
         width: 60%;
         margin: -2% 20% -2% 20%;
         
        & h2 {
            margin: 25px 0 20px 20px;
        }

        & i {
            margin-right: 4vw;
        }

        &__title {
            margin-left: 20px;
        }

        &__name__list {
            margin : 0 ;

            & li {
                margin: 0 20px 10px 20px;
                
                & h3 {
                    margin: 5px 0 5px 10px;
                }

                &  p {
                    margin: 5px 0 5px 10px;
                }

            }
        } 

        :hover .check {
            margin: -5px 86px 0 0;
        }
    }
}