@-webkit-keyframes heart {
  0% {
    color: #f779f5;
  }
  33% {
    color: #db6af2;
  }
  66% {
    color: #9963db;
  }
  100% {
    color: #af72fa;
  }
}

@keyframes heart {
  0% {
    color: #f779f5;
  }
  33% {
    color: #db6af2;
  }
  66% {
    color: #9963db;
  }
  100% {
    color: #af72fa;
  }
}

h1, h4 {
  font-family: 'Shrikhand', sans-serif;
  letter-spacing: 1px;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

.btn__about button {
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(175deg, #f779f5, #ef69ed, #db6af2, #a96bf4, #a262f1);
  -webkit-box-shadow: 5px 5px 5px #BFBFBF;
          box-shadow: 5px 5px 5px #BFBFBF;
  cursor: pointer;
}

.btn__about button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn__order button {
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(175deg, #f779f5, #ef69ed, #db6af2, #a96bf4, #a262f1);
  -webkit-box-shadow: 5px 5px 5px #BFBFBF;
          box-shadow: 5px 5px 5px #BFBFBF;
  cursor: pointer;
  width: 80%;
}

.btn__order button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main__header h1 {
  text-align: center;
}

footer {
  background-color: #353535;
  color: #fff;
  height: auto;
}

h4 {
  padding: 10px;
  margin-left: 25px;
  margin-top: 0;
  color: #fff;
  font-size: 1.5rem;
}

ul {
  margin: 0;
}

ul li {
  padding: 5px;
}

ul a {
  color: #fff;
  margin: 0;
}

.fa-utensils {
  margin-right: 14px;
}

.fa-hands-helping {
  margin-right: 7px;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  margin: 2% auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dddddd;
  height: 55px;
}

.maps__icone {
  margin-right: 0;
}

.maps__search input {
  background-color: #dddddd;
  border: none;
  text-align: center;
}

.about {
  text-align: center;
  background-color: #F2F2F2;
  padding: 25px;
  margin-bottom: 30px;
}

.about h2 {
  font-weight: bold;
}

.fonctionnement {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-bottom: 45px;
}

.fonctionnement h2 {
  text-align: center;
  margin-bottom: 30px;
}

.fonctionnement ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fonctionnement__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  margin: 0px 20px 20px 0;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0 10px #dddddd;
          box-shadow: 0px 0 10px #dddddd;
  background-color: #F2F2F2;
  width: 40vh;
}

.fonctionnement__list li:hover {
  background-color: #f2eafb;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fonctionnement__list--number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  left: 10px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: relative;
  margin: 0 0 0 -25px;
}

.fonctionnement__list--icone {
  width: 20px;
  left: 20px;
  margin-right: 35px;
  position: relative;
}

.restaurant {
  background-color: #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.restaurant h2 {
  padding: 25px;
  margin: 0;
}

.restaurant__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 45px;
  margin-bottom: -20px;
}

.restaurant__carte {
  height: 50vh;
  width: auto;
  background: #fff;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0 10px #BFBFBF;
          box-shadow: 0px 0 10px #BFBFBF;
}

.restaurant__carte:hover {
  -webkit-box-shadow: 0px 0 10px #9356DC;
          box-shadow: 0px 0 10px #9356DC;
}

.restaurant__carte img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant__about p {
  margin: 0 0 0 20px;
}

.restaurant__about h3 {
  margin: 0 0 0 20px;
}

.restaurant__about h3 i {
  margin-left: 80%;
  position: relative;
  top: 15px;
}

.restaurant__about h3.h3 i {
  margin-left: 83%;
}

.restaurant__about .fa-heart {
  cursor: pointer;
  font-size: 2rem;
}

.restaurant__about .fa-heart:hover {
  -webkit-animation: heart 0.5s ease-in;
          animation: heart 0.5s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fa-arrow-left {
  position: absolute;
  top: 40px;
  left: 20px;
}

.page1 img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: #F2F2F2;
  border-radius: 35px 35px 0 0;
  width: auto;
  position: relative;
  margin-top: -40px;
  padding: 20px 5px 30px 5px;
}

.menu h2 {
  font-family: 'Shrikhand';
  letter-spacing: 1px;
  font-weight: normal;
}

.menu i {
  margin-left: 18vw;
}

.menu i:hover {
  -webkit-animation: heart  0.5s ease-in;
          animation: heart  0.5s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu__title {
  margin-top: 40px;
  font-weight: lighter;
  border-bottom: #99E2D0 3px solid;
  width: 48px;
  padding-bottom: 8px;
}

.menu__name__list {
  padding-left: 0;
}

.menu__name__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: auto;
  background: #fff;
  border-radius: 25px;
  margin-bottom: 10px;
}

.menu__name__list li h3 {
  margin: 5px;
}

.menu__name__list li p {
  margin: 5px;
}

.menu__name__list li .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 35px;
}

.menu__name__list li .description p {
  text-overflow: ellipsis;
  text-align: center;
}

.menu__name__list li .description .price {
  margin-right: 20px;
}

.menu .btn__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

@media only screen and (max-width: 667px) {
  .about {
    margin-bottom: 45px;
  }
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fonctionnement__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    margin: 0px 20px 20px 0;
    border-radius: 35px;
    -webkit-box-shadow: 2px 2px 5px 2px #dddddd;
            box-shadow: 2px 2px 5px 2px #dddddd;
    background-color: #F2F2F2;
    width: 40vh;
  }
  .restaurant__about {
    font-size: 0.9rem;
  }
  .restaurant__about p {
    margin-left: 20px;
  }
  .restaurant__about h3 {
    margin: 0 10px 10px 20px;
  }
  .restaurant__about h3.h3 i {
    margin-left: 150px;
  }
  .restaurant__about h3 i {
    margin-left: 110px;
  }
}

/* Tablet (Tablet, ordinateur max 1024) */
/*# sourceMappingURL=main.css.map */