// import variables, function, mixins, animations
@import "./Utils/variables";

// import style : police
@import "./Base/police";

//import footer
@import "./Layouts/footer";

html {
   margin: 0;
}

body {
    background-color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
}

// * {    
//     // box-sizing: border-box;
// }

li {
    list-style-type: none;
}

a {
    color: $color-black;
    text-decoration: none;
}

.main__header h1{
    text-align: center;

}

.maps {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-medium;
    height: 55px;
    

    &__icone {
        margin-right: 0;
    }
    &__search input {
        background-color: $color-grey-medium;
        border: none;
        text-align: center;
    }
}

.about{
   text-align: center;
   background-color: $color-grey-light;
   padding: 25px;
   margin-bottom: 30px;

   & h2 {
       font-weight: bold;
   }
}

.btn__about button{
    border-radius: 25px;
    border: 2px solid transparent;
    padding: 15px;
    font-weight: bold;
    color: $color-white;
    background-color: $color-secondaire;
    box-shadow: 5px 5px 5px $color-grey-shadow;
    cursor: pointer;
}

.fonctionnement {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 25px;
   

    & h2 {
        text-align: center;
        padding: 15px;
        margin-bottom: 10px;
    }
   
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     }

  
    &__list li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        margin: 0px 20px 20px 0;
        border-radius: 35px;
        box-shadow: 2px 2px 5px 2px $color-grey-medium;
        // box-shadow: 0px 0 20px $color-grey-medium;  
        background-color: $color-grey-light;
        width: 40vh;
        // cursor: pointer;

        &:hover {
            background-color: $color-secondaire ;
        }

    }
    &__list--number {
       
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            left: 10px;
            background-color: $color-primaire;
            color: $color-white;
            border-radius: 50%;
            position: relative;
            margin: 0 0 0 -25px;
        }

     &__list--icone {
        width: 20px;
        left: 20px;
        margin-right: 35px;
        position: relative;

         
      }
     }   


.restaurant {
    background-color: $color-grey-light;
    box-sizing: border-box;
    // width: 100%;
    
    & h2 {
        padding: 25px;
        margin: 0;
    }

    &__box {
        display: flex ;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25px;
    }
  
    &__carte {
        height: 45vh;
        width: auto;
        background: $color-white;
        border-radius: 20px;
        box-sizing: border-box; 
        // border: $color-white solid 1px;
        box-shadow: 0px 0 20px $color-grey-medium;  
        margin: 10px;
        overflow: hidden;

    }
    &__carte img {
        width:100%;
        height: 75%;
        object-fit: cover;
    }
    &__about {
    
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;

        & p {
            padding: 0;
            margin: 10px;
        }

        & h3 {
            padding:0;
            margin: 0 10px 10px 10px;

            &.h3 i {
                    margin-left: 195px;
            }

            & i {
                margin-left: 170px;
                position: relative;
                top: 15px;
            }
        }

       
    }
}


//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
@media only screen and (max-width: 667px) {
  
    .about {
        margin-bottom: 45px;
       
    }
    
    .fonctionnement {
    
        & h2 {
        text-align: center;
        }
    
        & ul {
            margin-left: 0;
        }
    
        &__list{
          margin: 5px 0 10px 145px;
        }
    }


    
    .restaurant {
     width: auto;
     margin:0;
     padding: 0;

    //  & h2 {

    //  }
    &__box {
        width: auto;
    }
    &__carte{
        height: 40vh;
        width: 70%;
    }

     &__about{
     font-size: 1rem;
    
    
     & p {
        margin: 20px;
    }
    
    & h3 {
        margin: 0 10px 10px 20px;
    
        &.h3 i {
             margin-left: 470px;
        }
    
        & i {
            margin-left: 440px;
            top: 20px;
        }
        }
    }
    }
 }
    
//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////



@media (min-width: 667px) and (max-width: 767px) { 

    .fonctionnement li{
 
        margin-left: 90px;
        width: 100vh;
  
    }

    .restaurant__about {

        & p {
            margin-left: 20px;
            margin-top: -5px;
        }

        & h3 {
            margin-left: 20px;
            margin-top: 0;

            & i {
                margin-left: 600px;
                top: 0;

            }

             &.h3 i {
                 margin-left: 620px;
       
            }


    }

      }

}


// //////////////////////////////////////////////////////////
// ////////////////////////////////////////////////////////////
@media  (min-width: 768px) and (max-width: 1024px) {
    
    .fonctionnement {

        & ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }

        & li {
            justify-content: stretch;
               }

    }


    .restaurant__about {

        display: flex;
        font-size: 1.2rem;
       

        & p {
            margin-left: 20px;
            margin-top: -20px;
        }

        & h3 {
            margin-left: 20px;
            margin-top: 20px;

            & i {
                margin-left: 600px;
                top: -15px;

            }

             &.h3 i {
                 margin-left: 600px;
       
            }
        }

      }
    }
//////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////


@media (min-width: 1025px) and (max-width: 1600px) {

    .fonctionnement {

        & ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }

        & li {
            justify-content: stretch;
               }

    }
    

    .restaurant__about {
        display: flex;
        font-size: 1.2rem;

        & p {
            margin-left: 40px;
        }

        & h3 {
            margin-left: 40px;
        

       & i {
           margin-left: 920px;
           top:25px;

       }

       &.h3 i {
        margin-left: 970px;
       
    }


    }

      }
}