.btn {
    border-radius: 25px;
    border: 2px solid transparent;
    padding: 15px;
    font-weight: bold;
    color: $color-white;
    background: linear-gradient(175deg, #f779f5, #ef69ed, #db6af2, #a96bf4, #a262f1);
    box-shadow: 5px 5px 5px $color-grey-shadow;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.btn__about button {
    @extend .btn;
}

.btn__order button {
    @extend .btn;
    font-size: 17px;
    width: 70%;
    margin: 30px 0 0 15%;
}

