@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
      }
} 


@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes heart {
    0%  {
    color: #f779f5;
    }
    33% {
    color: #db6af2;
    }
    66%{
    color: #9963db;
    }
    100% {
    color: #af72fa;
    }
  }


  @keyframes refresh {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
  }


@keyframes progress-bar{
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
        
    }
}

